@charset "UTF-8";

label.margem {
  display: inline-block;
  width: 215px;
}

label.margem1 {
  display: inline-block;
  width: 215px;
}
label.margemnumero {
  display: inline-block;
  width: 60px;
}

label.margem2 {
  display: inline-block;
  width: 215px;
}

label.margem3 {
  display: inline-block;
  width: 215px;
}

/* body {
  background-image:url(images/5940.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150%;
} SE EU QUISER USAR COM IMAGEM */

body {
  background-color: rgb(236, 243, 249)/*rgba(255, 255, 255, 1);*/
}


.form-style{
    font-family: 'Open Sans Condensed', arial, sans;
    font-size: 14pt;
    font-weight: bolder;
    width: 800px;
    padding: 40px;
    background: rgba(24, 104,191, 1); /*rgba(0, 0, 0, 0.3);*/
    margin: 50px auto ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
    color: white;
  }

  .form-style input[type="number"],
  .form-style input[type="text"],
  .form-style input[type="date"],
  .form-style input[type="time"],
  .form-style select {
      border: none;
      border-radius: 6px;
      font-size: 16px;
      margin: 10;
      outline: 0;  border: none;
      border-radius: 4px;
      padding: 7px;
      width: 100%;
      box-sizing: border-box;
      background-color: #e8eeef;
      color:black;
      margin-bottom: 15px;

  }

.form-style input[type=submit]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    font-weight: bolder;
    font-size: 12pt;
}
.form-style input[type=submit]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.form-style button[type=button] {
    background: rgb(24, 104, 191);
    padding: 8px 15px 8px 15px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bolder;
    font-size: 12pt;
}